.post-meta-wrapper {
	margin-top: 2rem;
	margin-right: auto;
	margin-left: auto;
	max-width: $max-page-size;
	width: 100%;
}

/* POST META BOTTOM */

.post-meta-wrapper.post-meta-single-bottom {
	margin-top: 3rem;
}

.post-meta-wrapper {
  margin-top: 3rem;
}

.post-meta-wrapper.post-meta-single-bottom {
  margin-top: 4rem;
}