.header-titles {
  padding: 16px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 107.6rem;
  margin: 0 auto;
  width: 100vw;
}

.header-title,
.entry-title {
  color: #FFFFFF;
  font-size: 4rem;
  font-weight: 700;
  margin: 6.5rem 0 .8rem;
  align-self: flex-start;
}

.header-inner .toggle {
	align-items: center;
	display: flex;
	overflow: visible;
	padding: 0 2rem;
}

.header-inner .toggle svg {
	display: block;
	position: relative;
	z-index: 1;
}

.header-inner .toggle path {
	fill: currentColor;
}

.header-inner .toggle:focus .toggle-text,
.header-inner .toggle:hover .toggle-text {
	text-decoration: underline;
}

.header-inner {
  display: flex;
  align-items: center;
  padding: 3rem 0;
  height: 33.6rem;
  flex-direction: column;
  max-width: 107.6rem;
}

.header-navigation-wrapper {
  width: 100%;
}
